{% comment %} {% extends 'base.html' %}

{% block content %} {% endcomment %}
<h2>管道巡检</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <label>巡检结果 *</label>
        {{ form.inspection_result }}
    </div>
    <div>
        <label>异常情况记录</label>
        {{ form.abnormal_record }}
    </div>
    <div>
        <label>现场照片</label>
        {{ form.photo }}
    </div>
    <div>
        <label>桩号</label>
        {{ form.stake_number }}
    </div>
    <div>
        <label>位置信息 *</label>
        {{ form.location_info }}
    </div>
    <button type="submit">提交</button>
</form>
{% comment %} {% endblock %} {% endcomment %}